.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    display: flex;
  }

  .wrapper nav {
    width: 21rem;
  }

  .wrapper main {
    flex: 1;
    padding-left: 2.4rem;
  }
}
