.wrapper {
  font-family: 'GridGazer', 'ScanLine';
  width: 100%;
  height: 100%;
}

.serviceName {
  font-size: 2.4rem;
  text-align: center;
}

.logsSection {
  padding: 0 2rem;
}

.heading {
  padding: 0 0.5em;
  font-family: 'MaruMonica';
  font-size: 1.75rem;
  text-align: center;
}

.links {
  padding: 0.7em 0;
  font-size: 1.75rem;
  text-align: center;
}

ul.links li + li {
  margin-top: 0.3em;
}

.links a {
  display: inline-block;
  width: 100%;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

@media screen and (min-width: 1000px) {
  .serviceName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 1.1;
    height: 12rem;
    padding: 0.5em;
  }

  .serviceName a {
    width: min-content;
  }
}
